keybind = ctrl+home=scroll_to_top
keybind = ctrl+end=scroll_to_bottom
keybind = ctrl+n=next_tab
keybind = ctrl+p=previous_tab
keybind = ctrl+alt+w=new_split:up
keybind = ctrl+alt+a=new_split:left
keybind = ctrl+alt+s=new_split:down
keybind = ctrl+alt+d=new_split:right
keybind = ctrl+w=goto_split:up
keybind = ctrl+a=goto_split:left
keybind = ctrl+s=goto_split:down
keybind = ctrl+d=goto_split:right
keybind = ctrl+alt+x=close_surface
keybind = ctrl+shift+a=select_all
keybind = ctrl+alt+c=clear_screen
